body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.field {
  max-width: 440px;
  /* height: 400px; */
  padding: 6px;
  background-color: bisque;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.tile {
  background-color: beige;
  border-radius: 1px;
  width: 20px;
  height: 20px;
}

.snakeBody {
  background-color: lightsalmon;
}

.food {
  background-color: orange;
  border-radius: 8px;
}

.deadCell {
  background-color: grey;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {}